<%- include('header') %>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive table--no-card m-b-30">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th class="text-right">City</th>
                                        <th class="text-right">Hobby</th>
                                        <th class="text-right">Gender</th>
                                        <th class="text-right">Image</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var ad of dataView){ %>
                                        <tr>
                                            <td>1</td>
                                            <td><%=ad.name %></td>
                                            <td><%=ad.email%></td>
                                            <td class="text-right"><%=ad.city%></td>
                                            <td class="text-right"><%=ad.hobby%></td>
                                            <td class="text-right"><%=ad.gender%></td>
                                            <td class="text-right">
                                                <img src="<%=ad.image%>" height="50" width="50">
                                            </td>
                                            <td class="text-right">
                                                <a href="/deleteRec/<%=ad.id%>">Delete</a> ||
                                                <a href="/updateRec/?id=<%=ad.id%>">Update</a>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') %>